<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-menu">
          <ul>
            {{ range site.Menus.footer }}
            <li><a href="{{ .URL | relLangURL }}">{{ .Name }}</a></li>
            {{ end }}
          </ul>
        </div>
        <p class="copyright">{{ site.Params.copyright | markdownify }}</p>
      </div>
    </div>
  </div>
  <script defer
  type="text/javascript"
  src="https://app.termly.io/embed.min.js"
  data-auto-block="off"
  data-website-uuid="b254a8bc-f399-4967-9554-b8202ece01e6"
></script>
</footer>