.call-to-action {
  text-align: center;
  padding: 70px 0px;

  @include tablet {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  h2 {
    color: #4D4D4D;
    margin: 0px;
    padding: 30px 0px;
    font-size: 40px;
  }

  p {
    color: #4D4D4D;
    font-size: 20px;
  }

  .btn-main {
    padding: 12px 24px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #F7F2EB;
    background-color: #081F5C;
    font-size: 18px;
    font-family:'Lora', serif;
    border-radius: 5px;
    @include transition (all, 0.2s, ease);  
  }

  .btn-main:hover {
    background-color: transparent;
    color: #4D4D4D;
    border: 1px solid #4D4D4D;
  }

}
