.feature {
  background: url("../img/feature-bg.svg");
  background-position: 50% 94px;
  display: block;
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 100px 0;

  @include large-desktop {
    padding-top: 20px;
    padding-bottom: 20px;
    background-attachment: unset;
  }

  h2 {
    margin: 9px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 60px;
    font-family: 'Lora', serif;
    color: #4D4D4D;
  }

  .how-works-section {
    margin-left: 30%;
    margin-right: 30%;

    @include mobile {
      margin-left: 5%;
      margin-right: 5%;  
    }

  .how-works {
    margin-top: 40px;
    // box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    background-color: #F7F2EB;
    border-radius: 30px;
  }

  .feature-block-section {
    background-color: transparent;
  }

  .icon {
    margin-top: 40px;
    font-size: 60px;
    color: #081F5C;
  }

  .block {
    padding: 20px 10px;


    p {
      color: #4D4D4D;
      font-size: 25px;
      margin: 0px;
      font-family: 'Lora', serif;
    }
  }
  }
  

  .btn-view-works {
    background: #081F5C;
    color: #F7F2EB;
    padding: 15px 30px;
    margin-top: 60px;
    border-radius: 5px;
    @include transition (all, 0.2s, ease);
    font-size: 18px;
    font-family:'Lora', serif;  
  }

  .btn-view-works:hover {
    color: #4D4D4D;
    background: transparent;
  }

  .block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    height: 100%; /* Adjust as needed */
  }
}
