.slider {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  padding: 275px 0 275px;
  position: relative;
  @include mobile{
    background-attachment: unset;
    padding: 185px 0 185px;
  }

  .block {
    color: darken( $light, 10.4);
    text-align: center;

    h1 {
      font-weight: 400;
      font-size: 45px;
      line-height: 1.33em;
      letter-spacing: 0.2em;
      padding-bottom: 15px;
      color: #ffff;
      // text-transform: uppercase;

      @include tablet {
        font-weight: 400;
        font-size: 45px;
        }

      @include mobile {
        font-weight: 400;
        font-size: 40px;
        }

      @include mobile-xs {
        font-weight: 400;
        font-size: 35px;
        }
    }

    p {
      margin-bottom: 45px;
      color: darken( $light, 25.09803921568627);
      font-size: 24px;
      line-height: 1.5em;
      font-weight: 300;

      @include mobile {
        font-size: 18px;
      }
    }

    @include mobile {
      .btn {
        font-size: 16px;
      }
    }

    @include mobile-xs{
      .btn {
        font-size: 12px;
      }
    }
  }
}
