.slider {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  padding: 380px 0 380px;
  position: relative;
  @include mobile{
    background-attachment: unset;
    padding: 200px 0 200px;
  }

  .block {
    color: darken( $light, 10.4);
    text-align: center;

    h1 {
      font-weight: 400;
      font-size: 100px;
      font-family: 'Lora', serif;
      color: #f7f2eb;
      font-display: swap;
      padding-bottom: 30px;
      // text-transform: uppercase;

      @include tablet {
        font-weight: 400;
        font-size: 60px;
        }

      @include mobile {
        font-weight: 400;
        font-size: 60px;
        }

      @include mobile-xs {
        font-weight: 400;
        font-size: 40px;
        }
    }

    p {
      margin-bottom: 45px;
      color: darken( $light, 25.09803921568627);
      font-size: 40px;
      line-height: 1.5em;
      font-weight: 300;
      font-display: swap;

      @include mobile {
        font-size: 18px;
      }
    }

    .btn {
      font-size: 25px;

      @include mobile {
      font-size: 20px;
      }

      @include mobile-xs{
      font-size: 13px;
      }
    }
  }
}
